body {
	padding: 0;
	margin: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
}

.slide {
	width: 95%;
	height: 95%;
	display: none;
	position: absolute;
	margin: 0;
	margin-left: 0.5%;
	padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}
button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}


#logo-text {
  font-weight: bold;
}

/* #instructions { */
/*   text-align: center; */
/* } */

.block-text {
  width: 500px;
  text-align: justify;
  /* margin: 0 auto; */
  margin-bottom: 1em;
}

#legal {
  /* margin: 0 auto; */
  margin-top: 1.5em;
  font-size: 0.8em;
}

div.indicator {
    height: 6px;
    background-color: green;
}
div.indicator-outer {
    padding: 0;
    margin-bottom: 2em;
    height: 6px;
    background-color: white;
    width: 480px;
    border: 1px solid black;
}

li.question select {
    display: block;
    margin-bottom: .8em;
}

textarea.feedback {
    width:480px;
    height: 300px;
    margin-top: .5em;
    margin-bottom: 1em;
}

span.radio {
    display:block;
    margin-top: .5em;
}